
    path  {
          stroke: black;
          stroke-width: 0.5px;
          fill: #969696;
        }

    svg {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      opacity: .5;
      stroke: #cccccc; /*#fff;*/
      shape-rendering: crispEdges;
    }

    /* This part of css is for page layout*/
    #wrapper {
      height: 100%;
    }

    #header{
      height:20%;

    #map-container{
      width:80%;
      height:100%;
      float: left;
      margin:auto;
    }

    #users-graph {
      height:20%;
      margin:auto;
    }

    #brush-area {
      height:10%;
      margin:auto;
    }

    .pace {
      -webkit-pointer-events: none;
      pointer-events: none;

      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;

      z-index: 2000;
      position: fixed;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 5px;
      width: 200px;
      background: #fff;
      border: 1px solid #c0c0c0;

      overflow: hidden;
    }

    .pace .pace-progress {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;

      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);

      max-width: 200px;
      position: fixed;
      z-index: 2000;
      display: block;
      position: absolute;
      top: 0;
      right: 100%;
      height: 100%;
      width: 100%;
      background: #c0c0c0;
    }

    .pace.pace-inactive {
      display: none;
    }